header {
  .container {
    .header {
      height: 280px;
      position: relative;
      background-position: center;

      .content2 {
        position: absolute;
        top: 30%;
        left: 2%;
        text-align: center;
        text-transform: uppercase;
        p {
          font-size: 55px;
          color: #333333;
        }
        .two {
          color: #444444;
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  header {
    .container {
      .header {
        height: 220px;
        .content2 {
          p {
            font-size: 45px;
          }
        }
      }
    }
  }
}
@media (max-width: 991px) {
  header {
    .container {
      .header {
        height: 175px;
        .content2 {
          top: 25%;
          p {
            font-size: 35px;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  header {
    .container {
      .header {
        height: 130px;
        .content2 {
          top: 25%;
          left: 42%;
          p {
            font-size: 20px;
          }
          span {
            font-size: 10px;
          }
        }
      }
    }
  }
}

.select {
  .container {
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
      .right {
        display: flex;
        align-items: center;
        gap: 20px;
        .one {
          display: flex;
          align-items: center;
          gap: 10px;
          border: 2px solid #333333;
          padding: 10px 20px;
          color: #333333;
          i {
            font-weight: bold;
          }
        }
      }
      .left {
        display: flex;
        gap: 20px;
        align-items: center;
        .one {
          position: relative;
          select {
            padding: 10px 40px 10px 20px;
            border: 2px solid #333333;
            appearance: none;
            font-size: 17px;
            cursor: pointer;
          }
          .down-arrow {
            display: block;
            position: absolute;
            z-index: 1;
            left: 130px;
            top: 17px;
            clip-path: polygon(
              20% 15%,
              0 35%,
              25% 60%,
              50% 85%,
              75% 60%,
              100% 35%,
              80% 15%,
              50% 45%
            );
            background-color: #333333;
            width: 12px;
            height: 12px;
          }
        }
        .two {
          display: flex;
          border: 2px solid #333333;
          padding: 10px 5px;
          color: #333333;
          overflow: hidden;

          .two1 {
            position: relative;
            padding: 0 15px 0 5px;
            &::after {
              content: "";
              position: absolute;
              width: 2px;
              background-color: #333333;
              height: 40px;
              top: -10px;
              left: 50px;
            }
          }
          select {
            border: none;
            font-weight: bold;
            color: #333333;
            cursor: pointer;
          }
          .two2 {
            padding: 0 5px 0 15px;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 2px;
              background-color: #333333;
              height: 40px;
              top: -10px;
              left: 5px;
            }
          }
        }
        .three {
          ul {
            display: flex;
            align-items: center;
            gap: 7px;
            li {
              a {
                font-size: 17px;
                color: #333333;
              }
              .arrow-right {
                clip-path: polygon(
                  20% 0%,
                  0% 20%,
                  30% 50%,
                  0% 80%,
                  20% 100%,
                  50% 70%,
                  70% 50%,
                  50% 30%
                );
                background-color: #333333;
                width: 10px;
                height: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .select {
    .container {
      .flex {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .select {
    .container {
      .flex {
        .right {
          gap: 0;
          width: 100%;
          justify-content: space-between;
        }
        .left {
          gap: 0;
          width: 100%;
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }
}

.cata {
  .setting {
    display: none;
  }
  .container {
    .flex {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      .right {
        display: block;
        width: 270px;
        margin-bottom: 50px;
        .top,
        .bottom {
          border: 1px solid #e6e6e6;
          h1 {
            color: #333333;
            font-size: 25px;
            padding: 20px 25px;
          }
          .type {
            .outType {
              display: flex;
              align-items: center;
              justify-content: space-between;
              text-transform: uppercase;
              color: #333333;
              padding: 10px 25px;
              .arrow-right {
                clip-path: polygon(
                  20% 0%,
                  0% 20%,
                  30% 50%,
                  0% 80%,
                  20% 100%,
                  50% 70%,
                  70% 50%,
                  50% 30%
                );
                background-color: #cccccc;
                width: 12px;
                height: 12px;
              }
            }
            .innerType {
              display: none;
              p {
                padding: 10px 25px;
                background-color: #f5f5f5;
                &:hover {
                  background-color: #fafafa;
                }
              }
            }
            &:hover {
              background-color: #ededed;
              cursor: pointer;
            }
          }
          .active {
            background-color: #ededed;
            .arrow-right {
              clip-path: polygon(
                20% 0%,
                0% 20%,
                30% 50%,
                50% 70%,
                70% 50%,
                100% 20%,
                80% 0%,
                50% 30%
              ) !important;
            }
          }
        }
        .top {
          padding-bottom: 15px;
        }
        .bottom {
          border-top: none;
          padding-bottom: 40px;
        }
      }
      .left {
        width: 75%;
        .photos {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          .box {
            width: 31%;
            margin-bottom: 50px;
            color: #333333;

            img {
              width: 100%;
            }
            .content {
              padding: 5px;
              position: relative;
              h1 {
                font-size: 20px;
              }
              p {
                margin-top: 5px;
              }
              .del {
                color: #d5384b;
                > span {
                  text-decoration: line-through;
                  margin-right: 20px;
                  color: #333333;
                }
              }
              .green,
              .red {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #8dc63f;
                display: inline-block;
                position: absolute;
                bottom: -20px;
              }
              .red {
                background-color: #eb1d5d;
                left: 32px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .cata {
    .container {
      .flex {
        .left {
          .photos {
            .box {
              .content {
                p {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .cata {
    .container {
      .flex {
        .left {
          .photos {
            .box {
              width: 47%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .cata {
    .setting {
      width: 40px;
      height: 40px;
      text-align: center;
      background-color: #bbbbbb;
      cursor: pointer;
      font-size: 25px;
      position: fixed;
      top: 100px;
      border-radius: 0 10px 10px 0;
      padding: 5px;
    }
    .setting1 {
      width: 15px;
      height: 15px;
      position: fixed;
      background-color: #bbbbbb;
      border-radius: 50%;
      top: 80px;
      left: 18px;
      display: none;
    }

    .setting2 {
      width: 25px;
      height: 25px;
      position: fixed;
      background-color: #bbbbbb;
      border-radius: 50%;
      top: 55px;
      left: 28px;
      display: none;
    }
    .container {
      .flex {
        justify-content: center;
        .right {
          display: none;
          position: fixed;
          background-color: #bbbbbb;
          width: 250px;
          top: 40px;
          left: 55px;
          border-radius: 30px;
          z-index: 500;
          overflow: hidden;

          .scroll {
            height: 500px;
            overflow: auto;

            &::-webkit-scrollbar {
              width: 0.5em;
              height: 0.5em;
            }

            &::-webkit-scrollbar-thumb {
              background-color: #666666;
              border-radius: 3px;

              &:hover {
                background: #444444;
              }
            }
          }

          .top,
          .bottom {
            border: none;
            h1 {
              font-size: 21px;
            }
          }
        }
        .left {
          width: 60%;
          .photos {
            .box {
              width: 100%;
              .content {
                h1 {
                  font-size: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}
