/* Start Globle attributes  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: m-reg;
}

.f-light {
  font-family: m-light !important;
}
.f-bold {
  font-family: m-bold !important;
}

@font-face {
  font-family: m-bold;
  src: url(../fonts/m-bold.otf);
}
@font-face {
  font-family: m-reg;
  src: url(../fonts/m-regular.otf);
}
@font-face {
  font-family: m-light;
  src: url(../fonts/m-light.otf);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
}

/* End Globle attributes  */

// Start header

header {
  .container {
    nav {
      display: flex;
      height: 98px;
      justify-content: space-between;
      align-items: center;
      .one {
        display: flex;
        gap: 25px;
        text-transform: uppercase;
        li {
          a {
            color: #333333;
            font-family: m-bold;
            .down-arrow {
              clip-path: polygon(
                20% 15%,
                0 35%,
                25% 60%,
                50% 85%,
                75% 60%,
                100% 35%,
                80% 15%,
                50% 45%
              );

              background-color: #333333;
              width: 12px;
              height: 12px;
              display: inline-block;
            }
          }
        }
      }
      .two {
        display: flex;
        align-items: center;
        gap: 16px;
        .list {
          display: none;
        }

        .lang {
          position: relative;
          line-height: 20px;
          .lan {
            position: absolute;
            z-index: 500;
            top: 25px;
            left: 10px;
            .pointer {
              background-color: rgba(0, 0, 0, 0.9);
              clip-path: polygon(50% 0, 0 72%, 100% 72%);
              width: 15px;
              height: 15px;
              position: absolute;
              display: none;
            }
            .innerlist {
              background-color: rgba(0, 0, 0, 0.9);
              position: absolute;
              top: 10px;
              left: -110px;
              width: 150px;
              border-radius: 25px;
              display: none;
              overflow: hidden;

              ul {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 5px 0 5px 0;
                gap: 0px;

                li {
                  width: 100%;
                  text-align: center;
                  padding: 8px 0;
                  cursor: pointer;
                  a {
                    color: #ffffff;
                  }
                  &:hover {
                    background-color: rgba(51, 51, 51, 0.7);
                  }
                }
                li.more {
                  border-top: 1px solid #ffffff;
                }
              }
            }
          }
        }

        i {
          color: #333333;
          font-size: 25px;
        }
        span {
          border: 2px solid #333333;
          color: #333333;
          border-radius: 5px;
          padding: 2px 5px;
        }
      }
    }
    .header {
      width: 100%;
      background-size: cover;
      height: 400px;
      position: relative;
      .ileft,
      .iright {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3.5px solid white;
        width: 45px;
        height: 45px;
        font-size: 20px;
        border-radius: 50%;
        text-align: center;
        color: white;
        position: absolute;
        top: 48%;
        cursor: pointer;
      }
      .ileft {
        left: 30px;
        padding-right: 5px;
      }
      .iright {
        right: 30px;
        padding-left: 5px;
      }
    }
  }
}
@media (max-width: 1199px) {
  header {
    .container {
      nav {
        .one {
          display: none;
        }
        .two {
          .list {
            display: block;
            position: relative;
            .menu {
              position: absolute;
              z-index: 500;
              .pointer {
                background-color: rgba(0, 0, 0, 0.9);
                clip-path: polygon(50% 0, 0 72%, 100% 72%);
                width: 25px;
                height: 25px;
                position: absolute;
                display: none;
              }
              .innerlist {
                background-color: rgba(0, 0, 0, 0.9);
                position: absolute;
                top: 17px;
                left: -174px;
                width: 220px;
                border-radius: 25px;
                display: none;
                overflow: hidden;

                ul {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  align-items: center;
                  padding: 10px 0 10px 0;
                  gap: 5px;
                  li {
                    width: 100%;
                    text-align: center;
                    padding: 15px 0;
                    a {
                      color: #ffffff;
                    }
                    &:hover {
                      background-color: rgba(51, 51, 51, 0.7);
                    }
                  }
                  li.more {
                    border-top: 1px solid #ffffff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    .container {
      nav {
        height: 70px;
        img {
          height: 50px;
        }
        .two {
          gap: 10px;
          li .flag {
            width: 20px;
            height: 20px;
          }
          .list {
            a {
              i {
                font-size: 35px;
              }
            }
            .menu {
              .pointer {
                width: 35px;
                height: 35px;
              }
              .innerlist {
                ul {
                  li {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }
      .header {
        height: 200px;
        .ileft,
        .iright {
          border: 2.5px solid white;
          width: 30px;
          height: 30px;
          font-size: 16px;
          top: 47%;
        }
        .ileft {
          left: 20px;
          padding-right: 2px;
        }
        .iright {
          right: 20px;
          padding-left: 2px;
        }
      }
    }
  }
}

// End header

// Start parts

.parts {
  padding: 10px 0 0 0;
  .container {
    .flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .box {
        background-color: #333333;
        text-align: center;
        width: 16%;
        height: 220px;
        padding: 40px 0;
        margin-bottom: 10px;
        position: relative;
        .img {
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        p {
          color: #fbfbfb;
          text-transform: uppercase;
          margin-top: 10px;
          font-size: 20px;
        }
        .layer {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(189, 189, 189, 0.3);
          display: none;
          z-index: 0;
        }
        &:hover {
          .layer {
            display: block;
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .parts {
    .container {
      .flex {
        .box {
          width: 24.2%;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .parts {
    .container {
      .flex {
        .box {
          width: 24%;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .parts {
    .container {
      .flex {
        .box {
          width: 49.5%;
          height: 200px;
          margin-bottom: 3px;
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

// End parts

// Start parts2

.parts2 {
  .container {
    .flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .box {
        text-align: center;
        width: 49.7%;
        margin-bottom: 3px;
        transition: transform 1s, box-shadow 1s;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &:hover {
          transform: scale(1.01);
          box-shadow: 0 0 30px 1px black;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .parts2 {
    .container {
      .flex {
        .box {
          width: 100%;
        }
      }
    }
  }
}

// End parts2

// Start logos

.logos {
  padding: 20px 0;
  .container {
    .flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .box {
        text-align: center;
        padding: 20px;
        width: 12%;
        img {
          width: 100px;
        }
      }
      .one {
        width: 140px;
        height: 140px;
        flex-direction: column;
        font-size: 55px;
        padding: 0;
        .content {
          background-color: #f0f0f0;
          a {
            color: #d8d8d8;
          }
        }
      }
    }
  }
}
@media (max-width: 1199px) {
  .logos {
    .container {
      .flex {
        .box {
          img {
            width: 100%;
          }
        }
        .one {
          width: 100px;
          height: 100px;
          font-size: 40px;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .logos {
    .container {
      .flex {
        .box {
          width: 25%;
          img {
            width: 100px;
          }
        }
        .one {
          height: 140px;
          font-size: 55px;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .logos {
    .container {
      .flex {
        justify-content: space-around;
        .box {
          width: 35%;
          img {
            width: 80px;
          }
        }
        .one {
          height: 90px;
          font-size: 30px;
          .content {
            padding: 10px 0;
          }
        }
      }
    }
  }
}
// End logos

// Start Footer

footer {
  background-color: #333333;
  .hr {
    border: none;
    height: 1px;
    width: 100%;
    background-color: #373737;
  }
  .container {
    ul {
      display: flex;
      justify-content: space-between;
      padding: 30px 0;
      flex-wrap: wrap;
      li {
        a {
          color: #ffffff;
          font-size: 18px;
          text-transform: uppercase;
          letter-spacing: 2.5px;
        }
      }
    }
    .parent {
      display: flex;
      justify-content: space-between;
      .flex1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 33.33%;
        border-right: 1px solid #373737;
        padding: 20px 25px 20px 0;
        img {
          margin-right: 15px;
          width: 120px;
          height: 120px;
        }
        .content {
          h1 {
            font-size: 22px;
            margin-bottom: 5px;
            font-weight: 100;
            a {
              color: #ffffff;
            }
          }
          p:nth-child(2) {
            color: #565656;
            text-transform: uppercase;
            margin-bottom: 5px;
            font-size: 15px;
          }
          p:nth-child(3) {
            color: #6a6a6a;
            font-weight: bold;
            font-size: 15px;
          }
        }
      }
      .flex2 {
        display: flex;
        align-items: center;
        width: 33.33%;
        flex-wrap: wrap;
        border-right: 1px solid #373737;
        padding: 20px;

        .app {
          width: 50%;
          display: flex;
          justify-content: left;
          gap: 18px;
          align-items: center;
          color: #585858;
          i {
            font-size: 50px;
            color: #585858;
          }
          p {
            font-size: 14px;
          }
          h3 {
            font-size: 19px;
            a {
              color: #585858;
            }
          }
        }
        .google {
          width: 50%;
          display: flex;
          justify-content: right;
          gap: 18px;
          align-items: center;
          color: #585858;
          p {
            font-size: 14px;
          }
          h3 {
            font-size: 19px;
            a {
              color: #585858;
            }
          }
          img {
            width: 40px;
          }
        }
        .input {
          width: 100%;
          position: relative;
          color: #6a6a6a;
          display: flex;
          align-items: center;
          margin-top: 15px;
          input {
            text-transform: uppercase;
            width: 100%;
            background-color: #393939;
            border: none;
            border-radius: 50px;
            padding: 12px 50px;
            color: #ffffff;
          }
          .one {
            position: absolute;
            left: 20px;
          }
          .two {
            position: absolute;
            right: 20px;
            top: 30%;
            color: #6a6a6a;
          }
        }
      }
      .flex3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 33.33%;
        flex-wrap: wrap;
        position: relative;
        .box {
          width: 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: #6a6a6a;
            i {
              font-size: 25px;
            }
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 116.5%;
          height: 1px;
          top: 50%;
          left: 0;
          background-color: #373737;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  footer {
    overflow: hidden;
    .container {
      ul {
        li {
          a {
            font-size: 14px;
          }
        }
      }
      .parent {
        flex-wrap: wrap;
        .flex1 {
          width: 50%;
        }
        .flex2 {
          width: 50%;
          border: none;
        }
        .flex3 {
          width: 100%;
          margin: 15px 0;
          position: relative;
          &::before {
            content: "";
            width: 1px;
            height: 100px;
            position: absolute;
            top: -15px;
            left: 49.9%;
            background-color: #373737;
          }
          .box {
            width: 12%;
          }
          &::after {
            width: 120%;
            height: 1px;
            top: -15px;
            left: -52px;
            background-color: #373737;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  footer {
    .container {
      ul {
        align-items: center;
        justify-content: center;
        li {
          width: 25%;
          text-align: center;
          padding: 5px;
          a {
            letter-spacing: 1.5px;
          }
        }
      }
      .parent {
        .flex1 {
          img {
            width: 100px;
            height: 100px;
          }
          .content {
            h1 {
              font-size: 20px;
            }
            p:nth-child(2) {
              font-size: 12px;
            }
            p:nth-child(3) {
              font-size: 13px;
            }
          }
        }
        .flex2 {
          padding-right: 0;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  footer {
    .container {
      ul {
        align-items: center;
        justify-content: center;
        li {
          width: 50%;
          text-align: center;
          padding: 5px;
        }
      }
      .parent {
        .flex1 {
          width: 100%;
          border: none;
          padding: 20px 0;
          position: relative;
          img {
            width: 100px;
            height: 100px;
          }
          .content {
            h1 {
              font-size: 21px;
            }
            p:nth-child(2) {
              font-size: 12px;
            }
            p:nth-child(3) {
              font-size: 13px;
            }
          }
          &::after {
            content: "";
            position: absolute;
            width: 111%;
            height: 1px;
            top: 145px;
            left: -52px;
            background-color: #373737;
          }
        }
        .flex2 {
          width: 100%;
          padding: 20px 0;
          .app {
            width: 48%;
            margin-left: 10px;
            i {
              font-size: 35px;
            }
            p {
              font-size: 12px;
            }
            h3 {
              font-size: 16px;
            }
          }
          .google {
            width: 48%;
            img {
              width: 30px;
            }
            p {
              font-size: 12px;
            }
            h3 {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

// End Footer
